.hero {
      height  : 100%;
      overflow: hidden;
      display : flex;
}

.bg {
      position: absolute;
      width   : 100%;
      height  : 100%;
      top     : 0;
      left    : 0;
      z-index : -1;
}



.himg {
      position: absolute;
      top     : 0;
      bottom  : 0;
      right   : 0;
      left    : 0;
      margin  : auto;
      height  : 100%;
      width   : max-content;
      z-index : 0;
}

.himg img {
      width     : 100%;
      height    : 100%;
      object-fit: cover;
}

.hSection {
      width          : 50%;
      height         : 100%;
      display        : flex;
      justify-content: space-between;
      flex-direction : column;
}

.hSection.right {
      align-items: end;
}

.hTitle {
      margin-top: 50px;
      font-size : 70px;
      color     : #e30613;
}

.hTitle span {
      color: white;
}

.awards {
      width: 50%;
}

.awards p {
      font-size: 20px;
      color    : white;
      margin   : 16px 0;
}

.awardList {
      display: flex;
      gap    : 10px;
}

.awardList img {
      width           : 50px;
      height          : 50px;
      padding         : 8px;
      border-radius   : 100%;
      background-color: white;
}

.scroll {
      margin-top: 50px;
      width     : max-content;
      cursor    : pointer;
      color     : white;
}

.hSection.right {
      align-items: end;
}


.follow {
      display                   : flex;
      flex-direction            : column;
      gap                       : 12px;
      padding                   : 16px;
      background-color          : #2f204e;
      border-bottom-right-radius: 10px;
}

.hSection.right .follow img {
      width : 20px;
      height: 20px;
}

.followTextContainer {
      width : 20px;
      height: 20px;
}

.followText {
      background-color          : #e30613;
      font-size                 : 12px;
      rotate                    : 90deg;
      width                     : max-content;
      height                    : 100%;
      transform-origin          : left top;
      transform                 : translateY(-20px);
      padding                   : 0 8px;
      display                   : flex;
      align-items               : center;
      border-bottom-right-radius: 10px;
}

.bubbleContainer {
      width          : 50%;
      display        : flex;
      align-items    : end;
      gap            : 10px;
      justify-content: space-between;
}

.bubble {
      width           : 100%;
      height          : 70px;
      background-color: white;
      color           : #555;
      padding         : 24px;
      font-size       : 18px;
      border-radius   : 20px 20px 0px 20px;
}

.bubbleContainer img {
      width           : 50px;
      height          : 50px;
      border-radius   : 100%;
      object-fit      : cover;
      background-color: #e30613;
}

.certificate {
      width         : 60%;
      display       : flex;
      flex-direction: column;
      align-items   : center;
      gap           : 8px;
      text-align    : center;
      line-height   : 1.5;
      font-weight   : 300;
      color         : #ddd;
}

.certificate img {
      width : 70px;
      height: 70px;
}

.contactLink {
      margin-bottom: 50px;
}

.contactButton {
      position: relative;
}

.circleText {
      letter-spacing: 3px;
      font-size     : 20px;
}

.arrow {
      position       : absolute;
      top            : 0;
      left           : 0;
      bottom         : 0;
      right          : 0;
      margin         : auto;
      width          : 80px;
      height         : 80px;
      display        : flex;
      align-items    : center;
      justify-content: center;
}

@media (max-width: 1536px) {
      .hTitle {
            font-size: 72px;
      }
}

@media (max-width: 1280px) {
      .hTitle {
            font-size: 64px;
      }

      .bg {
            height: 60%;
            top   : auto;
            bottom: 0;
      }

      .hImg {
            height: 100%;
      }

      .awards {
            width: 60%;
      }

      .bubbleContainer {
            width: 100%;
      }


}

@media (max-width: 1024px) {
      .hTitle {
            font-size: 56px;
      }

      .bg {
            height: 50%;
      }
}

@media (max-width: 768px) {
      .hTitle {
            font-size: 48px;
      }

      .hero {
            flex-direction: column;
      }

      .hSection {
            font-size: 48px;
      }

      .hSection.left {
            align-items: center;
            text-align : center;
            gap        : 36px;
      }

      .hSection.right {
            justify-content: end;
      }

      .awards {
            width    : 100%;
            font-size: 16px;
      }

      .awardList {
            justify-content: center;
      }

      .follow {
            display: none;
      }

      .certificate {
            display: none;
      }

      .bubbleContainer {
            display: none;
      }

      .contactButton {
            display: none;
      }

      .scroll {
            display: none;
      }

      .hSection {
            width: 100%;
      }

}